
li,
a,
button,
h2 {
  font-family: "Gelion Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #035755;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 30px 10%;
}
.logo-info {
  margin-right: auto;
}
.logo-info h2 {
  position: relative;
  top: -25px;
  margin-left: 20px;
  display: inline-block;
}
.nav-links li {
  display: inline-block;
  padding: 0 20px;
}
.nav-links li a {
  text-decoration: none;
  color: #035755;
  transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
  color: #fb4c47;
}
.contact button {
  margin-left: 20px;
  padding: 12px 48px;
  background-color: rgba(0, 0, 0, 0);
  border: solid 2px #fb4c47;
  border-radius: 46px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  font-weight: 600;
  color: #fb4c47;
}
.contact button:hover {
  background-color: rgba(251, 76, 71, 0.1);
}
.contact-help button {
  color: white;
  font-size: 24px;
  margin-top: 54px;
  padding: 18px 48px;
  background-color: #fb4c47;
  border-radius: 64px;
  border: #fb4c47;
}
.contact-help button:hover {
  opacity: 0.8;
  transition: 0.3s;
}
.header-info {
  display: flex;
}
